<p id="notice"><%= notice %></p>

<h1>Favorites</h1>

<table>
  <thead>
    <tr>
      <th><%=current_user.email%></th>
      <th>Team</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.user_id %></td>
        <td><%= favorite.city %></td>
        <td><%= favorite.name %></td>
        <td><%= link_to 'Show', favorite %></td>
        <td><%= link_to 'Edit', edit_favorite_path(favorite) %></td>
        <td><%= link_to 'Destroy', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% @teams.each do |team| %>
<div class="actions">
    <%= form_for :favorite, url: favorites_path, method: :post do |form| %>
      <%= form.hidden_field :city, value: team["team"]["City"] %>
      <%= form.hidden_field :name, value: team["team"]["Name"] %>
        <%= form.submit "#{team["team"]["City"]} #{team["team"]["Name"]}" %>
      </div>
      <% end %>
    <% end %>

  </tbody>
</table>

<br>
<%= link_to 'See Favorite', favorite_path(:user_id) %>
