<h1>New Favorite</h1>
<%= form_for :favorite, url: favorites_path, method: :post  do |form| %>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :team_name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "New Favorite" %>
  </div>
<% end %>




<%= link_to 'Back', favorites_path %>
