<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
<%=@favorite.city %>
</p>

<p>
  <strong>Team:</strong>
  <%=@favorite.name %>
</p>

<%= link_to 'Edit', edit_favorite_path %> |
<%= link_to 'Back', favorites_path %>
